<h1>{{title}}</h1>
    <h2>My Heroes</h2>
    <!-- <ul class="heroes">
      <li *ngFor="let hero of heroes" class="hero_single"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </li>
    </ul> -->
    <virtual-scroll [items]="heroes" (update)="viewPortItems = $event" class="heroes">
    <list-item *ngFor="let item of viewPortItems" [item]="item" class="hero_single"
      [class.selected]="item === selectedHero"
      (click)="onSelect(item)">
    </list-item>
</virtual-scroll>
    <div *ngIf="selectedHero">
    <h2>
      {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>
